Repository DecisionNerd/graphforge: changes, and which Codecov flags are due for each by the changed paths.
All: full-coverage, parser, planner, executor, storage, ast, types

.codecov.yml:

# Codecov Configuration for GraphForge
# See https://docs.codecov.com/docs/codecov-yaml for full configuration

coverage:
  status:
    project:
      default:
        target: 85%                    # Project-wide coverage target
        threshold: 2%                  # Allow 2% drop before failing
        if_ci_failed: error            # Fail if CI fails
        flags:
          - full-coverage              # Use full test suite for project coverage
    patch:
      default:
        target: 75%                    # New code should have 75%+ coverage
        threshold: 5%
        if_ci_failed: error
        flags:
          - full-coverage              # Use full test suite (unit + integration) for patch coverage

  precision: 2                         # Show 2 decimal places
  round: down                          # Round coverage down
  range: "70...95"                     # Coverage range (red to green)

comment:
  layout: "header, diff, flags, components, footer, tests"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment, even if no changes

flags:
  full-coverage:
    paths:
      - src/
    carryforward: true                 # Use previous coverage if job fails
  tck-compliance:
    carryforward: true                 # Show previous TCK results if job skipped

component_management:
  individual_components:
    - component_id: parser
      paths:
        - src/graphforge/parser/**
    - component_id: planner
      paths:
        - src/graphforge/planner/**
    - component_id: executor
      paths:
        - src/graphforge/executor/**
    - component_id: storage
      paths:
        - src/graphforge/storage/**
    - component_id: ast
      paths:
        - src/graphforge/ast/**
    - component_id: types
      paths:
        - src/graphforge/types/**

ignore:
  - "tests/**"
  - "docs/**"
  - "scripts/**"
  - "examples/**"
  - "**/__init__.py"

feat: v0.3.5 - math functions, aggregation fixes, TCK steps (#195, #196, #197, #201, #202, #203, #204, #237)
  docs/reference/implementation-status/functions.md
  docs/reference/opencypher-compatibility-matrix.md
  src/graphforge/executor/evaluator.py
  src/graphforge/parser/cypher.lark
  tests/integration/test_aggregation_functions_advanced.py
  tests/integration/test_math_functions_extended.py
  tests/tck/conftest.py
  tests/unit/executor/test_aggregation_functions_advanced.py
Due: full-coverage, parser, executor

feat: v0.3.5 - math functions, aggregation fixes, TCK steps (#195, #196, #197, #201, #202, #203, #204, #237) (#238)
  docs/reference/implementation-status/functions.md
  docs/reference/opencypher-compatibility-matrix.md
  src/graphforge/executor/evaluator.py
  src/graphforge/parser/cypher.lark
  tests/integration/test_aggregation_functions_advanced.py
  tests/integration/test_math_functions_extended.py
  tests/tck/conftest.py
  tests/unit/executor/test_aggregation_functions_advanced.py
Due: full-coverage, parser, executor

chore: release v0.3.5 - Math Functions, Aggregation Fixes & TCK Steps
  CHANGELOG.md
  pyproject.toml
Due: none

docs: update README for v0.3.5
  README.md
Due: none

feat: implement sqrt(), rand(), pow() math functions (#195, #196, #197)
  docs/reference/implementation-status/functions.md
  docs/reference/opencypher-compatibility-matrix.md
  src/graphforge/executor/evaluator.py
  src/graphforge/parser/cypher.lark
  tests/integration/test_math_functions_extended.py
Due: full-coverage, parser, executor

feat: support hexadecimal and octal integer literals (#247)
  Makefile
  src/graphforge/executor/evaluator.py
  src/graphforge/parser/cypher.lark
  src/graphforge/parser/parser.py
  tests/integration/test_hex_octal_literals.py
  tests/tck/conftest.py
  tests/unit/parser/test_hex_octal_literals.py
  uv.lock
Due: full-coverage, parser, executor

docs: document pytest-xdist + pytest-cov deadlock and coverage setup
  docs/development/testing.md
Due: none

fix: address three inline review findings (#247 follow-up)
  Makefile
  src/graphforge/executor/evaluator.py
  tests/tck/conftest.py
Due: full-coverage, executor

chore: add interrogate docstring coverage check to pre-push
  Makefile
  pyproject.toml
  uv.lock
Due: none

chore: run test targets in parallel, add test-network target
  Makefile
Due: none

fix: coerce node pattern property values to native types in TCK harness (#252, #261)
  tests/tck/conftest.py
Due: none

fix: implement temporal regression fixes for date.truncate(), timezone parsing, select forms, and duration arithmetic (#253, #254, #255, #256)
  src/graphforge/api.py
  src/graphforge/ast/pattern.py
  src/graphforge/executor/evaluator.py
  src/graphforge/parser/cypher.lark
  src/graphforge/parser/parser.py
  tests/integration/test_temporal_map_constructors.py
  tests/tck/conftest.py
  tests/unit/executor/test_temporal_truncate_arithmetic.py
Due: full-coverage, parser, executor, ast
